.header{

    display: flex;
    padding-top: 3rem;

    


    }
    .header_image-container{
        display: flex;
        max-width: 256px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0;
        
        
        
    }

    .header_image{

        width: 100%;
        
        
    }